.logoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.logoutContainer p {
    font-size: 36px;
    font-weight: bold;
}